.container {
    max-width: 1200px;
    min-width: 800px;
    margin: 0 auto;
}

.row,
.row_head {
    display: flex;
    justify-content: space-between;
    min-height: 30px;
    width: 100%;
    padding: 10px 20px 10px 20px;
}

.row_head {
    background-color: #515151;
    color: #E7E7E7;
    border-radius: 5px 5px 0 0;
    font-weight: 600;
}
.row_foot {
    background-color: #515151;
    border-radius: 0 0 5px 5px;
    height: 43px;
}
.row {
    border-bottom: 1px solid black;
    :hover {
        cursor: pointer;
    }
}
.row_green {
    background-color: #DDFFDB;
}
